In [1]:
import pandas as pd
import os
import json
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from utils import *

In [2]:
raw_data = pd.read_csv('./data/raw_data.csv')
raw_data.head()

,text_comments,text_only,comments_only,label,count
0,"Breaking: At least 10 dead, 5 injured after tO...","Breaking: At least 10 dead, 5 injured after tO...",The religion of peace strikes again.\n[SEP]Hi ...,rumour,9
1,France: 10 people dead after shooting at HQ of...,France: 10 people dead after shooting at HQ of...,MT France: 10 dead after shooting at HQ of sat...,rumour,7
2,Ten killed in shooting at headquarters of Fren...,Ten killed in shooting at headquarters of Fren...,must be that peace loving religion again\n[SEP...,rumour,5
3,BREAKING: 10 dead in shooting at headquarters ...,BREAKING: 10 dead in shooting at headquarters ...,WTF &gt; BREAKING 10 dead in shooting at headq...,rumour,13
4,Reuters: 10 people shot dead at headquarters o...,Reuters: 10 people shot dead at headquarters o...,watch yourself in Paris bud\n[SEP]islamist ter...,rumour,16

In [3]:
data = raw_data[['text_comments','label']]
data = data.rename(columns = {'text_comments':'text'})
data['label'] = LabelEncoder().fit_transform(data['label'])

In [4]:
train, tmp_val = train_test_split(data, test_size=0.1, random_state=35)
_, tmp_test = train_test_split(train, test_size=0.3, random_state=35)

test = pd.concat([tmp_val, tmp_test])

In [5]:
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)

print(len(train),len(test))

5221 2148

In [6]:
train_label = train['label'].values.tolist()
test_label = test['label'].values.tolist()

In [7]:
with open('./data/PHEME-SEG/train_label.txt','w',encoding='utf-8') as file:
    for each_index in train_label:
        file.write(str(each_index))
        file.write('\n')

with open('./data/PHEME-SEG/test_label.txt','w',encoding='utf-8') as file:
    for each_index in test_label:
        file.write(str(each_index))
        file.write('\n')

In [8]:
train_tmp = train.copy()
train_tmp['text_split'] = train['text'].apply(get_split)
train = train_tmp

test_tmp = test.copy()
test_tmp['text_split'] = test['text'].apply(get_split)
test = test_tmp

In [9]:
train_l = []  # Segmented Text
label_l = []  # Label of Each Text
index_l =[]   # The Index of Each Text Before Segmentation
for idx,row in train.iterrows():
  for l in row['text_split']:
    train_l.append(l)
    label_l.append(row['label'])
    index_l.append(idx)
len(train_l), len(label_l), len(index_l)

(7709, 7709, 7709)

In [10]:
test_l = []
test_label_l = []
test_index_l =[]
for idx,row in test.iterrows():
  for l in row['text_split']:
    test_l.append(l)
    test_label_l.append(row['label'])
    test_index_l.append(idx)
len(test_l), len(test_label_l), len(test_index_l)

(3174, 3174, 3174)

In [11]:
with open('./data/PHEME-SEG/train_index_list.txt','w',encoding='utf-8') as file:
    for each_index in index_l:
        file.write(str(each_index))
        file.write('\n')

with open('./data/PHEME-SEG/test_index_list.txt','w',encoding='utf-8') as file:
    for each_index in test_index_l:
        file.write(str(each_index))
        file.write('\n')

In [12]:
train_df = pd.DataFrame({'text':train_l, 'label':label_l})
train_df.head()

                                                text  label
0  Still trapped here, barricaded. Not in my offi...      0
1  Snipers now on top of Ottawa's National Art Ga...      1
2  Gendarmerie arrive at the hostage taking in Da...      1
3  The problem isn’t Islam. The problem is asshol...      0
4  Police asking you not tweet abt, retweet, or o...      0

In [13]:
test_df = pd.DataFrame({'text':test_l, 'label':test_label_l})
test_df.head()

                                                text  label
0  Apparent hostage situation unfolding in Sydney...      1
1  Thoughts go out to the people in Sydney today!...      0
2  The 2011 issue of Charlie Hebdo, whose cover f...      0
3  is trending #iwillridewithyou RSS goons too br...      0
4  Ottawa, you've been on my mind all day. Keepin...      0

In [14]:
with open('./data/PHEME-SEG/train.txt', 'w', encoding='utf-8') as file:
    for i in range(len(train_df)):
        file.write(str(train_df.iloc[i,1]))
        file.write(' ')
        string = train_df.iloc[i,0].replace('\n',' ').replace('[SEP]',' ').replace('\t',' ').replace('\r',' ')
        file.write(string)
        file.write('\n')

In [15]:
with open('./data/PHEME-SEG/test.txt', 'w', encoding='utf-8') as file:
    for i in range(len(test_df)):
        file.write(str(test_df.iloc[i,1]))
        file.write(' ')
        string = test_df.iloc[i,0].replace('\n',' ').replace('[SEP]',' ').replace('\t',' ').replace('\r',' ')
        file.write(string)
        file.write('\n')